<a href="https://colab.research.google.com/github/JUSTYNAYANG/summerpy/blob/main/20220704.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#teachable machine

In [2]:
!unzip converted_keras.zip

Archive:  converted_keras.zip
replace keras_model.h5? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
 extracting: keras_model.h5
replace labels.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
 extracting: labels.txt

In [10]:
from keras.models import load_model
from PIL import Image, ImageOps
import numpy as np

# Load the model
model = load_model('keras_model.h5')

# Create the array of the right shape to feed into the keras model
# The 'length' or number of images you can put into the array is
# determined by the first position in the shape tuple, in this case 1.
data = np.ndarray(shape=(1, 224, 224, 3), dtype=np.float32)
# Replace this with the path to your image
image = Image.open('pic.jpg')
#resize the image to a 224x224 with the same strategy as in TM2:
#resizing the image to be at least 224x224 and then cropping from the center
size = (224, 224)
image = ImageOps.fit(image, size, Image.ANTIALIAS)

#turn the image into a numpy array
image_array = np.asarray(image)
# Normalize the image
normalized_image_array = (image_array.astype(np.float32) / 127.0) - 1
# Load the image into the array
data[0] = normalized_image_array

labels = ['hair up', 'hair down']

# run the inference
prediction = model.predict(data)
i = np.argmax(prediction)
print(labels[i])

WARNING:tensorflow:No training configuration found in the save file, so the model was *not* compiled. Compile it manually.
hair down

In [52]:
x = [0, 2, 4, 1, 2, 3, 2, 1, 0]

In [8]:
np.argmax(x)
# this gives the index of the biggest number in the list

2

##homework

In [90]:
!unzip ehe.zip

Archive:  ehe.zip
replace keras_model.h5? [y]es, [n]o, [A]ll, [N]one, [r]ename: r
new name: homework_model.h5
 extracting: homework_model.h5
replace labels.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: r
new name: homework.text
 extracting: homework.text

In [91]:
from keras.models import load_model
from PIL import Image, ImageOps
import numpy as np

# Load the model
model = load_model('homework_model.h5')

# Create the array of the right shape to feed into the keras model
# The 'length' or number of images you can put into the array is
# determined by the first position in the shape tuple, in this case 1.
data = np.ndarray(shape=(1, 224, 224, 3), dtype=np.float32)
# Replace this with the path to your image
image = Image.open('cat.png')
#resize the image to a 224x224 with the same strategy as in TM2:
#resizing the image to be at least 224x224 and then cropping from the center
size = (224, 224)
image = ImageOps.fit(image, size, Image.ANTIALIAS)

#turn the image into a numpy array
image_array = np.asarray(image)
# Normalize the image
normalized_image_array = (image_array.astype(np.float32) / 127.0) - 1
# Load the image into the array
data[0] = normalized_image_array

catordog = ["cat", "dog"]

# run the inference
prediction = model.predict(data)
i = np.argmax(prediction)
print(catordog[i])

WARNING:tensorflow:No training configuration found in the save file, so the model was *not* compiled. Compile it manually.
cat

In [93]:
inputt = input("please give the file name: ")

# Load the model
model = load_model('homework_model.h5')

# Create the array of the right shape to feed into the keras model
# The 'length' or number of images you can put into the array is
# determined by the first position in the shape tuple, in this case 1.
data = np.ndarray(shape=(1, 224, 224, 3), dtype=np.float32)
# Replace this with the path to your image
image = Image.open(inputt)
#resize the image to a 224x224 with the same strategy as in TM2:
#resizing the image to be at least 224x224 and then cropping from the center
size = (224, 224)
image = ImageOps.fit(image, size, Image.ANTIALIAS)

#turn the image into a numpy array
image_array = np.asarray(image)
# Normalize the image
normalized_image_array = (image_array.astype(np.float32) / 127.0) - 1
# Load the image into the array
data[0] = normalized_image_array

catordog = ["cat", "dog"]

# run the inference
prediction = model.predict(data)
i = np.argmax(prediction)
print(catordog[i])

please give the file name: cat.png
WARNING:tensorflow:No training configuration found in the save file, so the model was *not* compiled. Compile it manually.
cat

#Nested Loop

In [11]:
for i in range(5):
  for j in range(5):
    print(i, j)
# basically a loop in a loop

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [22]:
for i in range(1, 10):
  for j in range(1, 10):
      print(i, "*", j, "=", i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#String

##escape sequences

allows you to put characters that you cannot normally put in a string with a backslash

In [38]:
# ASCII (American Standard Code for Information Interchange)

In [41]:
print("hello \ni am here")
# here \n allows us to create a new line
# we cannot normally do this, the backslash n helps us create this effect

hello
i am here

In [23]:
a = "abc\nabc"

In [24]:
print(a)

abc
abc

In [26]:
# you can use both " " and ' ' for strings

In [29]:
x = "it's ice cream"
print(x)
# here the single quotation mark ' is not counted as the marking 
# for the string as the uses double quotation marks

it's ice cream

In [30]:
y = 'it\'s ice cream'
print(y)
# here the single quotation mark is used so we have to add slash to
# keep it as a string

it's ice cream

##string format

The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}.

In [33]:
a = 'abc'
b = 'cde'

In [35]:
print(a, b)

abc cde

In [37]:
print(a, b, sep="")
# this is removes the space in between

abccde

### f-string and string format

In [42]:
a = "abc"
b = "cde"
c = 123

In [44]:
print(f"{a} {b} {c}")
# by putting values in brackets they are exchanged for whatever that is stored in them (only happens in f-string)

abc cde 123

In [45]:
print("{} {} {}".format(a, b, c))
# format() will put the things in the parentheses in the brackets in order (basically same thing as top)

abc cde 123

In [46]:
print("{2} {1} {2}".format(a, b, c))
# by putting numbers in the brackets it places the objects in the format according to numbers (acts like index)

123 cde 123

### ways to use strings

In [47]:
a = "It's my dog"

In [50]:
a.split()
# splits to string that are seperated with spaces

["It's", 'my', 'dog']

## strings with dictionary exercise

3 commands:
1. a name phonenumber ==> add phone number into dictionary
2. s name ==> find the phone number of a specific person
3. q ==> break loop

In [69]:
data = {}

while True:
  x = input("Please give a command: ")
  xlist = x.split()
  if xlist[0]=='a':
    # adding a name and a phone number into the dictionary
    print("Adding information...")
    y = input("please type in the name and phone number with a space in between: ")
    ylist= y.split()
    data[ylist[0]] = ylist[1]
    print("Information recorded.")
  elif xlist[0]=='s':
    # printing the phone number of a specific person
    print("Searching...")
    y = input("please type in the name of the phone number you want to look up: ")
    ylist= y.split()
    print(f"{ylist[0]}'s phone number is {data[ylist[0]]}")
  elif xlist[0]=='q':
    print("Thank you, hope you enjoyed our services.")
    break

Please give a command: a
Adding information...
please type in the name and phone number with a space in between: hellp 01
Information recorded.
Please give a command: s
Searching...
please type in the name of the phone number you want to look up: hellp
hellp's phone number is 01
Please give a command: q
Thank you, hope you enjoyed our services.

In [81]:
#for phone numbers that are not in contacts
data = {}

while True:
  x = input("Please give a command: ")
  xlist = x.split()
  if xlist[0]=='a':
    # adding a name and a phone number into the dictionary
    print("Adding information...")
    y = input("please type in the name and phone number with a space in between: ")
    ylist= y.split()
    data[ylist[0]] = ylist[1]
    print("Information recorded.")
  elif xlist[0]=='s':
    # printing the phone number of a specific person
    print("Searching...")
    y = input("please type in the name of the phone number you want to look up: ")
    ylist= y.split()
    if ylist[0] in data:
      print(f"{ylist[0]}'s phone number is {data[ylist[0]]}")
    else:
      print(f"{ylist[0]} is not in your contacts")
  elif xlist[0]=='q':
    print("Thank you, hope you enjoyed our services.")
    break

Please give a command: a
Adding information...
please type in the name and phone number with a space in between: shira 0920855752
Information recorded.
Please give a command: s
Searching...
please type in the name of the phone number you want to look up: shira
shira's phone number is 0920855752
Please give a command: s
Searching...
please type in the name of the phone number you want to look up: lita
lita is not in your contacts
Please give a command: q
Thank you, hope you enjoyed our services.

In [76]:
y = input("please type in the name and phone number with a space in between: ")
ylist= y.split()
data[ylist[0]] = ylist[1]
print(data)

please type in the name and phone number with a space in between: hello 09124
{'hello': '09124'}