<a href="https://colab.research.google.com/github/JUSTYNAYANG/summerpy/blob/main/20220615.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

# Draw a Pyramid Excercise

In [1]:
"*" * 10

'**********'

In [2]:
"*" + " " + "*"

'* *'

In [46]:
for i in range (5):
  print(((2*i + 1) * "*"))

*
***
*****
*******
*********

In [5]:
for i in range (5):
  print(((5-i) * " ")+((2*i + 1) * "*"))

     *
    ***
   *****
  *******
 *********

In [14]:
for i in range(5):
  print(((5-i) * " ")+((2*i + 1) * "*"))
for i in range(4):
  print(((i+2) * " ") + ((3-i)*2 + 1) * "*")

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

# DataTypes

* int
* float
* bool
* str

In [22]:
x = 1
# placing 1 in the variable "x" (x is now 1)
# a variable can only start with a letter or an underscore

In [25]:
type(x)
# 1 is a integer (x = 1)

int

In [26]:
y = 1.0

In [28]:
type(y)
# if a number has a decimal it is a float
# 1.0 is a float

float

In [30]:
z = 3 > 2

In [32]:
type(z)
# a boolean is a true or false statement
# if a boolean is true --> it will return True
# if a boolean is false --> it will return False

bool

In [36]:
w = "This is my dog"
# quotations are needed for a string if not the system thinks each word is an individual variable

In [38]:
type(w)
# strings are text
# quotations are important for strings

str

In [43]:
a = 10
b = 5

In [44]:

type(a/b)
# a divide will result in an answer of a float

float

In [45]:
type(a//b)
# two divides allow the answer to be a integer

int