<a href="https://colab.research.google.com/github/JUSTYNAYANG/summerpy/blob/main/20221123.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#zerojudge

- a004
- a010
- a005

In [ ]:
#a004

In [ ]:
20//6

3

In [ ]:
20%6

2

In [ ]:
x = int(input())
if x%400 == 0:
  print("閏年")
elif x%4 == 0:
  if x%100 == 0:
      print("平年")
  else:
      print("閏年")
else:
  print("平年")

1977
平年

In [ ]:
while True:
  try:
    x = int(input())
    if x%400 == 0:
      print("閏年")
    elif x%4 == 0:
      if x%100 == 0:
        print("平年")
      else:
        print("閏年")
    else:
      print("平年")
  except:
    break

1977
平年
1980
閏年

In [ ]:
while True:
  try:
    n = int(input ())
    y = bin(n)
    print(y.replace("0b", ""))
  except:
    break

In [13]:
#a010

In [20]:
num = int(input())
a = 1
while num != 1:
  a = a + 1
  while num % a == 0:
    num = num // a
    print(a)

48
2
2
2
2
3

In [22]:
num = int(input())
a = 1
b = []
while num != 1:
  a = a + 1
  while num % a == 0:
    num = num // a
    b.append(a)
print(b)

24
[2, 2, 2, 3]

In [23]:
b = [2, 2, 3]

In [24]:
b.count?

In [27]:
b.remove?

In [ ]:
#a005

In [40]:
y = []
d = 0
while True:
  try:
    x = input()
    y.append(x)
    a = x[0]
    if d == 0:
      pass
    else:
      c = y[a+1]
      c.split(" ")
      print(c)
  except:
    break

1
1 2 3

In [76]:
n = int(input())
a = []
for i in range(n):
  x = input().split()
  if int(x[1])-int(x[0]) == int(x[2])-int(x[1]):
    x.append(str(int(x[3])+int(x[1])-int(x[0])))
    print(" ".join(x))
  else:
    x.append(str(int(int(x[3])*(int(x[1])/int(x[0])))))
    print(" ".join(x))

2
1 2 3 4
1 2 3 4 5
1 2 4 8
1 2 4 8 16